input[type="text"] {
    border-radius: 2rem;
    border: .1rem solid #ccc;
    padding: .5rem;
    background-color: #f2f2f2;
    font-size: 1rem;
    outline: none;
}

input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button-margin-right {
    margin-left: 2rem;
}

.add-button {
    display: inline-block;
    padding: .55rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #0056b3;
}

.add-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}